$font-size: 50px;
$blue: #0946ff;
$yellow: #faf06b;
$shadow: #000 1px 0 10px;
$nunito: 'Nunito', sans-serif;
$luckiest-guy: 'Luckiest Guy', cursive;

html, body {
  padding: 0;
  margin: 0;
}

.body {
  background: $blue;
  font-family: $nunito;
  color: $yellow;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

a:hover {
  opacity: 0.75;
}

header {
  background-color: $yellow;
  color: $blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-height: 85px;
}

footer {
  background-color: $yellow;
  color: $blue;
  text-align: center;
  padding: 0.5em;
}

h1 {
  display: none;
}

nav {
  font-family: $luckiest-guy;
  font-size: 40px;
}

nav a {
  color: $blue;
  text-decoration: none;
}

section {
  font-size: 2em;
  text-align: center;
}

.homepageTimeTime {
  font-size: 2em;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $blue;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
