$font-size: 50px;
$blue: #0946ff;
$yellow: #faf06b;
$shadow: #000 1px 0 10px;
$nunito: 'Nunito', sans-serif;
$luckiest-guy: 'Luckiest Guy', cursive;

html, body {
  padding: 0;
  margin: 0;
}

.body {
  background: $blue;
  font-family: $nunito;
  color: $yellow;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a:hover {
  opacity: 0.75;
}

header {
  background-color: $yellow;
  color: $blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-height: 85px;
}

footer {
  background-color: $yellow;
  color: $blue;
  text-align: center;
  padding: 0.5em;
}

h1 {
  display: none;
}

nav {
  font-family: $luckiest-guy;
  font-size: 40px;
}

nav a {
  color: $blue;
  text-decoration: none;
}

section {
  font-size: 2em;
  text-align: center;
}

.homepageTime {
  margin-top: 1em;
  .homepageTimeTime {
    font-size: 1.5em;
  }
}

.formField {
  margin: 1em 0;
  input, textarea {
    font-size: 1em;
    border: 4px solid $yellow;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
  }
  input[type=submit] {
    width: auto;
    padding: 10px 40px;
    background-color: $yellow;
    color: $blue;
  }
  &.formFieldRecaptcha div{
    margin: 0 auto;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $blue;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $blue;
}

/* General sidebar styles */
.bm-menu {
  background: $yellow;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $yellow;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  a {
    display: block;
  }
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
